# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.conda/
env/
venv/
.venv/

# IDE
.vscode/
.idea/
.vs/

# Heavy experiment outputs

saved_problems/
data_arc_features/


# Generated data / models
*.pkl
*.pickle
*.pth
*.ckpt


# Solver files
*.lp
*.mps
*.sol
*.mst
*.bas

# Archives
*.zip
*.tar
*.gz
*.7z